<footer class="footer py-4 mt-5 site-bar" data-bs-theme="dark">
    <div class="container text-center">
        <p>&copy; {{ "now"|date("Y") }} SIO Shoes. All rights reserved.</p>
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="{{ path('app_home') }}" class="text-white">Accueil</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">À propos</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Contact</a></li>
        </ul>
    </div>
</footer>